apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prom-local
    url: http://prometheus:9090
    access: proxy
    isDefault: true

  - name: Loki
    type: loki
    uid: loki-local
    url: http://loki:3100
    access: proxy

  - name: Tempo
    type: tempo
    uid: tempo-local
    url: http://tempo:3200
    access: proxy
    jsonData:
      nodeGraph:
        enabled: true
      serviceMap:
        datasourceUid: 'prom-local'